{% extends 'admin/base.html' %} 


{% load static %}

 {% block content %}

 <div class="body flex-grow-1 px-3">
<form action= {% url 'category:add_subcategory' %} method="POST" enctype="multipart/form-data">
    {% csrf_token %}
 <div class="form-group p-3">
   <select name="category" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected="selected" disabled>select category</option>
    {% for i in cata %}
      <option value="{{i.id}}">{{i.category_name}}</option>
      {% endfor %}
   </select>
 </div>
  
 <div class="form-group p-3">
    <label style="color: white;" for="usr">Sub Category Name</label>
    <input name="subcategory_name" type="text" class="form-control " id="usr">
  </div>

  <div class="form-group p-3">
    <label style="color: white;" for="exampleFormControlFile1">Upload Image</label> <br>
    <input oninput=checker(this.id) name="img" type="file" class="form-control" id="exampleFormControlFile1">
  </div>

  <div class="p-3">
  <button type="submit" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Add SubCategory</button>
</div>
</form>

</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function checker(id){
    var img = document.getElementById(id).value
    console.log(img,"LLLLLLLLLL")
    var allowedExtensions =
    /(\.jpg|\.jpeg|\.png|\.gif)$/i;
    if(!allowedExtensions.exec(img)){
      console.log("in")
      Swal.fire("image should be jpg , jpeg , png")
      document.getElementById(id).value = "";
  }


}
</script>



{% endblock %}








