{% extends 'admin/base.html' %} 


{% load static %}

 {% block content %}

 <style>
  .box {
    transition: box-shadow .5s;
    
    border-radius:5px;
    border: 1px solid #ccc;
    
  }
  .box:hover {
    box-shadow: 0 0 15px rgb(255, 255, 255); 
  }
 </style>

 <div class="body flex-grow-1 px-3">
  <a href= {% url 'pages:add_category' %} class="btn btn-success btn-lg active" style="margin-bottom: 1rem;" role="button" aria-pressed="true">Add Category</a>

  <div class="container bcontent box">

  <table class="table" style="background-color: #1c2e4a;">
    <thead class="table-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Slug</th>
        <th scope="col">Image</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody style="color: white;">
      {% for i in cata %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.category_name}}</td>
        <td>{{i.slug}}</td>
        <td><img src="/media/{{i.cata_img}}" alt="" border=3 height=150 width=150></img></td>
      
        
        <td><a href={% url 'category:edit_category' i.id %} type="button" class="btn btn-success btn-sm">Edit</a></td>
        <td><a href={% url 'category:delete_category' i.id %} type="button" class="btn btn-danger btn-sm">Delete</a></td>
      

      </tr>
      {% endfor %}
       
   
    
     
    </tbody>
  </table>

</div>




</div>


{% endblock %}








