{% extends 'admin/base.html' %} 


{% load static %}

 {% block content %}

 <div class="body flex-grow-1 px-3">
  <a href= {% url 'pages:add_product' %} class="btn btn-success btn-lg active" role="button" aria-pressed="true">Add Product</a>


  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Image</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Added Date</th>
        <th scope="col">Status</th>
        <th scope="col">Category</th>
        <th scope="col">Subategory</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for i in prod %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.product_name}}</td>
        <td>{{i.brand}}</td>
     
        <td><img src="/media/{{i.product_img1}}" alt="" border=3 height=150 width=150></img></td>
        <td>{{i.quantity}}</td>
        <td>{{i.selling_price}}</td>
        <td>{{i.added_Date}}</td>
        <td>{{i.status}}</td>
        <td>{{i.category}}</td>
        <td>{{i.subcategory}}</td>
        
        <td><a href={% url 'category:edit_category' i.id %} type="button" class="btn btn-success btn-sm">Edit</a></td>
        <td><a href={% url 'category:delete_product' i.id %} type="button" class="btn btn-danger btn-sm">Delete</a></td>
      

      </tr>
      {% endfor %}
       
   
    
     
    </tbody>
  </table>

</div>







{% endblock %}








