{% extends 'admin/base.html' %} 


{% load static %}

 {% block content %}

 <style>

    .box {
      transition: box-shadow .5s;

      border-radius:5px;
      border: 1px solid #ccc;

    }
    .box:hover {
      box-shadow: 0 0 15px rgb(255, 255, 255); 
    }
 </style>




 <div class="body flex-grow-1 px-3">
  <a href= {% url 'pages:add_product' %} class="btn btn-success btn-lg active" style="margin-bottom: 1rem;" role="button" aria-pressed="true">Add Product</a>

  <div class="container bcontent box">

  <table class="table" style="background-color: #1c2e4a;">
    <thead class="table-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Image</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Added Date</th>
        <th scope="col">Status</th>
        <th scope="col">Category</th>
        <th scope="col">Subategory</th>
        <th scope="col">Add variation</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        
      </tr>
    </thead>
    <tbody style="color: white;">
      {% for i in prod %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.product_name}}</td>
        <td>{{i.brand}}</td>
     
        <td><img src="/media/{{i.product_img1}}" alt="" border=3 height=150 width=150></img></td>
        <td>{{i.quantity}}</td>
        <td>{{i.selling_price}}</td>
        <td>{{i.added_Date}}</td>
        <td>{{i.status}}</td>
        <td>{{i.category}}</td>
        <td>{{i.subcategory}}</td>
        
        <td>   
        <button onclick= gotovariation({{i.id}}) class="btn btn-success btn-sm btn-block mb-4">Add variation</button>
        </td>
        <td><a href={% url 'pages:edit_product' i.id %} type="button" class="btn btn-success btn-sm">Edit</a></td>
        <td><a  onclick= del_product({{i.id}}) type="button" class="btn btn-danger btn-sm">Delete</a></td>

      </tr>
      {% endfor %}
       
   
    
     
    </tbody>
  </table>

</div>



</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function del_product(id){
        

    var url = "{% url 'category:delete_product' %}"
    Swal.fire({
      title: 'Are you sure you want to Delete this Product?',
      
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes'
    }).then((result) => {
      if (result.isConfirmed) {
      
        $.ajax({
          type:"GET",
          url : url,
          data : {"id" : id},
          success : function(response) {

            window.location.href = '{% url 'pages:product' %}';
              
          },
          error: function() {
              alert('Error occured');
          }
      });
        
  
      }
    })
    
}



function gotovariation(id){
  var id = id
  window.location.href = "{% url 'variation' %}"  +'?id='+ id;
  
}
</script>

{% endblock %}








