
{% extends 'shop.html' %}

{% load static %}
{% block content %}
    <!-- END nav -->
		

    
<!--wrapper start-->
<div class="wrapper page-blog-wrapper">

  <!--== Start Preloader Content ==-->
  <div class="preloader-wrap">
    <div class="preloader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!--== End Preloader Content ==-->

  
  <main class="main-content">
  

    <!--== Start Blog Area Wrapper ==-->
    <section class="blog-area blog-grid-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="blog-content-column">
              <div class="blog-content-area no-sidebar">
                <!--== Start Blog Post Item ==-->
                <div class="post-item">
                  <div class="thumb">
                    <a ><img src="{% static 'bot5/assets/img/blog/1.jpg' %}" alt="Moren-Image"></a>
                  </div>
                  <div class="content">
                    <div class="meta">
                      <a >Design Trends</a>
                    </div>
                    <div class="inner-content">
                      <h4 class="title">
                        <a >Upcycling Brand Nereja Makes Vintage Furs New Again</a>
                      </h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam risus semper varius vestibulum enim. Sollicitudin facilisi at tortor, lorem arcu accumsan suspendisse. […]</p>
                    </div>
                    <a  class="btn-theme btn-black">Read more</a>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->
                <!--== Start Blog Post Item ==-->
                <div class="post-item">
                  <div class="thumb">
                    <a ><img src="{% static 'bot5/assets/img/blog/2.jpg' %}" alt="Moren-Image"></a>
                  </div>
                  <div class="content">
                    <div class="meta">
                      <a >Design Trends</a>
                    </div>
                    <div class="inner-content">
                      <h4 class="title">
                        <a >Katie Holmes Revives the Baker Boy Cap</a>
                      </h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam risus semper varius vestibulum enim. Sollicitudin facilisi at tortor, lorem arcu accumsan suspendisse. […]</p>
                    </div>
                    <a  class="btn-theme btn-black">Read more</a>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->
                <!--== Start Blog Post Item ==-->
                <div class="post-item">
                  <div class="thumb">
                    <a ><img src="{% static 'bot5/assets/img/blog/3.jpg' %}" alt="Moren-Image"></a>
                  </div>
                  <div class="content">
                    <div class="meta">
                      <a >Design Trends</a>
                    </div>
                    <div class="inner-content">
                      <h4 class="title">
                        <a>Honey, They Shrunk the Ugg Boot</a>
                      </h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam risus semper varius vestibulum enim. Sollicitudin facilisi at tortor, lorem arcu accumsan suspendisse. […]</p>
                    </div>
                    <a class="btn-theme btn-black">Read more</a>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->
                <!--== Start Blog Post Item ==-->
                <div class="post-item">
                  <div class="thumb">
                    <a ><img src="{% static 'bot5/assets/img/blog/4.jpg' %}" alt="Moren-Image"></a>
                  </div>
                  <div class="content">
                    <div class="meta">
                      <a >Design Trends</a>
                    </div>
                    <div class="inner-content">
                      <h4 class="title">
                        <a href="blog-details.html">Consider the Backless Dress for a New Year’s Eve at Home</a>
                      </h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam risus semper varius vestibulum enim. Sollicitudin facilisi at tortor, lorem arcu accumsan suspendisse. […]</p>
                    </div>
                    <a  class="btn-theme btn-black">Read more</a>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->
                <!--== Start Blog Post Item ==-->
                <div class="post-item">
                  <div class="thumb">
                    <a ><img src="{% static 'bot5/assets/img/blog/5.jpg' %}" alt="Moren-Image"></a>
                  </div>
                  <div class="content">
                    <div class="meta">
                      <a>Design Trends</a>
                    </div>
                    <div class="inner-content">
                      <h4 class="title">
                        <a href="blog-details.html">All the Ways We Styled Sweats This Year</a>
                      </h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam risus semper varius vestibulum enim. Sollicitudin facilisi at tortor, lorem arcu accumsan suspendisse. […]</p>
                    </div>
                    <a href="blog-details.html" class="btn-theme btn-black">Read more</a>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->
                <!--== Start Blog Post Item ==-->
                <div class="post-item">
                  <div class="thumb">
                    <a><img src="{% static 'bot5/assets/img/blog/6.jpg' %}" alt="Moren-Image"></a>
                  </div>
                  <div class="content">
                    <div class="meta">
                      <a>Design Trends</a>
                    </div>
                    <div class="inner-content">
                      <h4 class="title">
                        <a href="blog-details.html">This Week, The Best Dressed Stars Prioritized Glamour</a>
                      </h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam risus semper varius vestibulum enim. Sollicitudin facilisi at tortor, lorem arcu accumsan suspendisse. […]</p>
                    </div>
                    <a href="blog-details.html" class="btn-theme btn-black">Read more</a>
                  </div>
                </div>
                <!--== End Blog Post Item ==-->
                <div class="pagination-area">
                  <nav>
                    <ul class="page-numbers">
                      <li>
                        <a class="page-number active" >1</a>
                      </li>
                      <li>
                        <a class="page-number" >2</a>
                      </li>
                      <li>
                        <a class="page-number" >3</a>
                      </li>
                      <li>
                        <a class="page-number next" >
                          <i class="icofont-long-arrow-right"></i>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Blog Area Wrapper ==-->
  </main>

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area default-style">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="widget-item widget-column1">
              <h4>Subscribe to receive Moren News</h4>
              <div class="newsletter-content-wrap">
                <form class="newsletter-form" action="#">
                  <input class="form-control" type="text" id="email" placeholder="Email">
                  <button class="btn btn-theme btn-black" type="submit">Sign Up</button>
                </form>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="widget-item widget-column2">
              <h4>Help</h4>
              <nav class="widget-menu-wrap menu-col-2">
                <ul class="nav-menu nav">
                  <li><a href="index.html">Payments</a></li>
                  <li><a href="index.html">Shipping</a></li>
                  <li><a href="index.html">Returns/Exchange</a></li>
                </ul>
                <ul class="nav-menu nav ">
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="index.html">Store Locator</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-md-3">
            <div class="widget-item widget-column3">
              <h4>Explore</h4>
              <nav class="widget-menu-wrap">
                <ul class="nav-menu nav">
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="blog.html">Get the look</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="widget-item">
              <div class="widget-social-icons">
                <a href="#/"><i class="lastudioicon lastudioicon-b-facebook"></i></a> 
                <a href="#/"><i class="lastudioicon lastudioicon-b-pinterest"></i></a> 
                <a href="#/"><i class="lastudioicon lastudioicon-b-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--== End Footer Area Wrapper ==-->
  
  <!--== Scroll Top Button ==-->
  <div class="scroll-to-top"><span class="icofont-arrow-up"></span></div>



          

  <!--== Start Side Menu ==-->
  <aside class="off-canvas-wrapper">
    <div class="off-canvas-inner">
      <div class="off-canvas-overlay d-none"></div>
      <!-- Start Off Canvas Content Wrapper -->
      <div class="off-canvas-content">
        <!-- Off Canvas Header -->
        <div class="off-canvas-header">
          <div class="close-action">
            <button class="btn-close"><i class="icofont-close-line"></i></button>
          </div>
        </div>

        <div class="off-canvas-item">
          <!-- Start Mobile Menu Wrapper -->
          <div class="res-mobile-menu">
            <!-- Note Content Auto Generate By Jquery From Main Menu -->
          </div>
          <!-- End Mobile Menu Wrapper -->
        </div>
        <!-- Off Canvas Footer -->
        <div class="off-canvas-footer"></div>
      </div>
      <!-- End Off Canvas Content Wrapper -->
    </div>
  </aside>
  <!--== End Side Menu ==-->
</div>
		
    
  


 {% endblock %}