
{% extends 'shop.html' %}

{% load static %}
{% block content %}

	<style>
		
		.RAD[type='radio']:after {
			width: 15px;
			height: 15px;
			border-radius: 15px;
			top: -3px;
			left: -4px;
			position: relative;
			background-color: #d1d3d1;
			content: '';
			display: inline-block;
			visibility: visible;
			border: 2px solid white;
		}
	
		.RAD[type='radio']:checked:after {
			width: 15px;
			height: 15px;
			border-radius: 15px;
			top: -3px;
			left: 1px;
			position: relative;
			background-color: #0047b1;
			content: '';
			display: inline-block;
			visibility: visible;
			border: 2px solid white;
		}





		.qty .count {
			color: #000;
			display: inline-block;
			vertical-align: top;
			font-size: 25px;
			font-weight: 700;
			line-height: 30px;
			padding: 0 2px
			;min-width: 35px;
			text-align: center;
		}
		.qty .plus {
			cursor: pointer;
			display: inline-block;
			vertical-align: top;
			color: white;
			width: 30px;
			height: 30px;
			font: 30px/1 Arial,sans-serif;
			text-align: center;
			border-radius: 50%;
			}
		.qty .minus {
			cursor: pointer;
			display: inline-block;
			vertical-align: top;
			color: white;
			width: 30px;
			height: 30px;
			font: 30px/1 Arial,sans-serif;
			text-align: center;
			border-radius: 50%;
			background-clip: padding-box;
		}
		div {
			text-align: center;
		}
		.minus:hover{
			background-color: #717fe0 !important;
		}
		.plus:hover{
			background-color: #717fe0 !important;
		}
		/*Prevent text selection*/
		span{
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
		}
		input{  
			border: 0;
			width: 2%;
		}
		nput::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input:disabled{
			background-color:white;
		}
				 
	</style>

 
    <!-- END nav -->
	<div class="hero-wrap hero-bread" >
		<div class="container">
		  <div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
			
			</div>
		  </div>
		</div>
	  </div>


	 



	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> -->
	<div class="container">
		<div class="py-3 text-center">
		  
		 </div>
	  
		
		  <div class="row-md-4 order-md-2 mb-4">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
			  <span class="text-muted">Your cart</span>
			  <span class="badge badge-secondary badge-pill">3</span>
			</h4>
			
			  
			
			<ul class="list-group mb-3">
				{% for i in cart_items %}
			  <li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
				  {% comment %} <small class="my-0">Product name</small> {% endcomment %}
				  <h6 class="text-muted">{{i.product.product_name}}</h6>
				</div>
				<span class=" text-success">{{i.Quantity}}</span>
			  </li>
			  {% endfor %}
			  
			  <li class="list-group-item d-flex justify-content-between bg-light">
				<div class="text-success">
				  <h6 class="my-0">Promo code</h6>
				  <small>EXAMPLECODE</small>
				</div>
				{% comment %} <span class="text-success">-$5</span> {% endcomment %}
			  </li>
			  <li class="list-group-item d-flex justify-content-between">
				<span>Total (USD)</span>
				<strong class="text-success">${{g_total}}</strong>
			  </li>
			</ul>
	  
			<form class="card p-2">

					




			  <div class="input-group">
				<input type="text" class="form-control" placeholder="Promo code">
				<div class="input-group-append">
				  <button type="submit" class="btn btn-secondary">Redeem</button>
				</div>
			  </div>
			</form>
		  </div>









		  <form action={% url 'order_place' %} method ="POST" >

			{% csrf_token %}
		  
			<div class="row mt-2">
			  <div class="col-12">
				  <div class="form-group row">
					<div class="col-12">
					  <div class="card-deck">

						{% for add in address %}
						  
						
						<div id="elephant-card" class="card mb-4">
						  <div class="card-body" role="button">
							<h5 class="card-title"><input type="radio" name="address"  value="{{add.id}}"style="width: 30px; height:30px ; float: left;">
							  <label for="elephant">{{add.first_name}}</label></h5> 	
							  <p class="card-text">{{add.address_1}}</p>
						  </div>
						</div>

						{% endfor %}
					
						
					  </div>
					</div>
				  </div>
			  </div>
			</div>
			<div class="row mt-2" style="justify-content: center;">
				<div class="col-4">
		
			<a href="{% url 'add_address' %}" class="btn btn-secondary btn-lg ">Add Address</a>
		
			</div>
			</div>
		  






			<div class="row-md-8 order-md-1 ">


			  <hr class="mb-4">
			  
			  <h4 class="mb-3">Payment</h4>
	  
			  <div class="d-block my-3">
				{% comment %} <div class="custom-control custom-radio">
				  <input name="paymentMethod" type="radio" class="custom-control-input" checked required>
				  <label class="custom-control-label" for="credit">Cash On Delivery</label>
				</div>
				<div class="custom-control custom-radio">
				  <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
				  <label class="custom-control-label" for="debit">Debit card</label>
				</div>
				<div class="custom-control custom-radio">
				  <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
				  <label class="custom-control-label" for="paypal">PayPal</label>
				</div> {% endcomment %}


				<div class="container">
					<div class="row justify">
						<div class="col-md-12 bg-light text-right">


				<div class="form-check custom-control custom-radio">
					<a class="btn btn-info btn-block">
					<input class="form-check-input RAD" type="radio" name="flexRadioDefault" value="cod" id="flexRadioDefault1">
					<label style="color: white;" class="form-check-label" for="flexRadioDefault1">
					 COD
					</label></a>
				  </div>
				 
				  <div style="margin-top:5px ;" class="form-check custom-control custom-radio">
					<a id="rzp-button1" class="btn btn-info btn-block">
					<input class="form-check-input RAD" type="radio" name="flexRadioDefault" value="razorpay" id="flexRadioDefault2" >
					<label style="color: white;" class="form-check-label" for="flexRadioDefault2">
					  Razor Pay
					</label></a>
				  </div>

				  <div style="margin-top:5px ; background-color: aliceblue;" class="form-check custom-control custom-radio">
					<a class="btn btn-block">
					{% comment %} <input class="form-check-input RAD" type="radio" name="flexRadioDefault" value="paypal" id="flexRadioDefault3" > {% endcomment %}
					<label style="color: rgb(0, 0, 0);" >
					  Pay Pal	  <div id="paypal-button-container"></div>
					</label></a>
				  </div>
				</div>
			</div>
		</div>

			  </div>
		
			 
			  <hr class="mb-4">
			  <button type="submit" class="btn btn-primary btn-lg btn-block">Continue to checkout</button>
			</form>



		  </div>
		</div>
	  
		
	  </div>

		
	</div>




    <footer class="ftco-footer bg-light ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Modist</h2>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Shop</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Journal</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
	                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
	                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
	                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
	              </ul>
	              <ul class="list-unstyled">
	                <li><a href="#" class="py-2 d-block">FAQs</a></li>
	                <li><a href="#" class="py-2 d-block">Contact</a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
          </div>
        </div>
      </div>
    </footer>																				
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/jquery-migrate-3.0.1.min.js" %}"></script>
  <script src="{% static "js/popper.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/jquery.easing.1.3.js" %}"></script>
  <script src="{% static "js/jquery.waypoints.min.js" %}"></script>
  <script src="{% static "js/jquery.stellar.min.js" %}"></script>
  <script src="{% static "js/owl.carousel.min.js" %}"></script>
  <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
  <script src="{% static "js/aos.js" %}"></script>
  <script src="{% static "js/jquery.animateNumber.min.js" %}"></script>
  <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
  <script src="{% static "js/scrollax.min.js" %}"></script>
  <script src="{% static "js/google-map.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>

  

  	  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	  <!-- Replace "test" with your own sandbox Business account app client ID -->
	  <script src="https://www.paypal.com/sdk/js?client-id=AQhEj-_pdUWyY8NjLV7hfII9fb0QryrMUo2YoDLwrorIxriU7EyO6QjJMBrqxgNVnTnbImYKhBjf2447&currency=USD"></script>

	  <!-- Set up a container element for the button -->
	
  

















  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
  
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>



<script>
	// Render the PayPal button into #paypal-button-container
	paypal.Buttons({
		style: {
            
            color:   'black',
            
          },

		// Set up the transaction
		onClick:function(data,actions){
            var address=$("input[name='address']:checked").val();
            var token=$('input[name=csrfmiddlewaretoken]').val();
            console.log(address)
            if (address == undefined){
                
                swal.fire("Alert", "All Fields are required", "error");
                return false;
            }
            else{
              return true;
            }

          },


		createOrder: function(data, actions) {
			return actions.order.create({
				purchase_units: [{
					amount: {
						value: '1.44'
					}
				}]
			});
		},

		// Finalize the transaction
		onApprove: function(data, actions) {
			return actions.order.capture().then(function(orderData) {
				// Successful capture! For demo purposes:
				console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
				var transaction = orderData.purchase_units[0].payments.captures[0];
				{% comment %} alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details'); {% endcomment %}

				// Replace the above to show a success message within this page, e.g.
				// const element = document.getElementById('paypal-button-container');
				// element.innerHTML = '';
				// element.innerHTML = '<h3>Thank you for your payment!</h3>';
				// Or go to another URL:  actions.redirect('thank_you.html');
				var address=$("input[name='address']:checked").val();
				var token=$('input[name=csrfmiddlewaretoken]').val();
				data={
				  'add_id':address,
				  "paypal":"Paypal",
				  'payment_id': orderData.id,
				  csrfmiddlewaretoken:token
			  }
			  $.ajax({
				  method: "POST",
				  url: "{% url 'order_place' %}",
				  data: data,
				  success: function (response) {
					
						window.location="{% url 'order_success' %}" 
					 
					  
				  }
			  });


			});
		}


	}).render('#paypal-button-container');
</script>



  <script>
  var options = {
		
	  "key": "rzp_test_U3hCafDNlYy1xe", // Enter the Key ID generated from the Dashboard
	  "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
	  "currency": "INR",
	  "name": "Acme Corp",
	  "description": "Test Transaction",
	  "image": "https://example.com/your_logo",
	  "order_id": "{{payment.id}}" ,  //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
	  "handler": function (response){
				
		$.ajax( {
			type: "POST",
			url: "{% url 'order_place' %}",
			data: {
				coupon :  $("#ccode").val(),
				flexRadioDefault: 'razorpay',
				add_id: $("input[name='address']:checked").val(),
				payment_id : response.razorpay_payment_id,
				order_id :response.razorpay_order_id,
				signature:response.razorpay_signature,
				csrfmiddlewaretoken: '{{ csrf_token }}',
				dataType: "json",
			},
			success: (response) => {
				console.log("success"),
				
				window.location="{% url 'order_success' %}" 
				
			},error: function() {
                alert('Error occured 101');
            }
		
		
		})
			


	  },
	  "prefill": {
		  "name": "User",
		  "email": "user@example.com",
		  "contact": "9544633437"
	  },
	  "notes": {
		  "address": "Razorpay Corporate Office"
	  },
	  "theme": {
		  "color": "#3399cc"
	  }
  };
  var rzp1 = new Razorpay(options);
  rzp1.on('payment.failed', function (response){
		//   alert(response.error.code);
		//   alert(response.error.description);
		//   alert(response.error.source);
		//   alert(response.error.step);
		//   alert(response.error.reason);
		//   alert(response.error.metadata.order_id);
		//   alert(response.error.metadata.payment_id);
		swal("Payment failed", "Order pending", "error").then(function () { window.location.reload() })
  });
  document.getElementById('rzp-button1').onclick = function(e){
	  rzp1.open();
	  e.preventDefault();
  }
  </script>
  


  <script>



		
	







		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
	<script>
		$(document).ready(function(){
		    $('#count1').prop('disabled', true);
   			$(document).on('click','.plus',function(){
				$('#count1').val(parseInt($('#count1').val()) + 1 );
    		});
        	$(document).on('click','.minus',function(){
    			$('#count1').val(parseInt($('#count1').val()) - 1 );
    				if ($('#count1').val() == 0) {
						$('#count1').val(1);
					}
    	    	});
 		});
	</script>
    {% endblock %}
