
{% extends 'shop.html' %}

{% load static %}
{% block content %}

	<style>
		.qty .count {
			color: #000;
			display: inline-block;
			vertical-align: top;
			font-size: 25px;
			font-weight: 700;
			line-height: 30px;
			padding: 0 2px
			;min-width: 35px;
			text-align: center;
		}
		.qty .plus {
			cursor: pointer;
			display: inline-block;
			vertical-align: top;
			color: white;
			width: 30px;
			height: 30px;
			font: 30px/1 Arial,sans-serif;
			text-align: center;
			border-radius: 50%;
			}
		.qty .minus {
			cursor: pointer;
			display: inline-block;
			vertical-align: top;
			color: white;
			width: 30px;
			height: 30px;
			font: 30px/1 Arial,sans-serif;
			text-align: center;
			border-radius: 50%;
			background-clip: padding-box;
		}
		div {
			text-align: center;
		}
		.minus:hover{
			background-color: #717fe0 !important;
		}
		.plus:hover{
			background-color: #717fe0 !important;
		}
		/*Prevent text selection*/
		span{
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
		}
		input{  
			border: 0;
			width: 2%;
		}
		nput::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input:disabled{
			background-color:white;
		}
				 
	</style>
    

    <!-- END nav -->
		
		<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_6.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">My Orders</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
          </div>
        </div>
      </div>
    </div>






    <section class="vh-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-10 col-lg-8 col-xl-6">
              <div class="card card-stepper" style="border-radius: 16px;">
                <div class="card-header p-4">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body">1222528743</span></p>
                      <p class="text-muted mb-0"> Place On <span class="fw-bold text-body">{{order.orderd_date}}</span> </p>
                    </div>
                    <div>
                      <h6 class="mb-0"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">View Detailes</button></h6>
                    </div>
                  </div>
                </div>
                <div class="card-body p-4">
                  <div class="d-flex flex-row mb-4 pb-2">
                    <div class="flex-fill">
                      <h5 class="bold">{{order.product.product_name}}</h5>
                      <p class="text-muted"> Qt: {{order.quantity}} item</p>
                      <p class="text-muted"> price: {{order.price}} item</p> 
                      <h4 class="mb-3">total : $ {{order.sub_total}}<br> <span class="small text-muted"> via ({{order.payment}}) </span></h4>
                      {% if order.status == "cancelled" %} 
                      <p class="" style=" color: red;">Order Cancelled </p>
                      {% else %}
                      <p class="text-muted">Deliver To: <span class="text-body">{{address.address_1}} , {{address.State}} , {{address.zip_code}}</span></p>
                      {% endif %}
                    </div>
                    <div>
                      <img class="align-self-center img-fluid"
                        src="/media/{{order.product.product_img1}}" width="250">
                    </div>
                  </div>
                  
                </div>
                <div class="card-footer p-4">
                  <div class="d-flex justify-content-between">
                    
                    
                    <div class="border-start h-100"></div> 
                     {% if order.status == "placed" or order.status == "Shipped" %}
                    <a href="{% url 'ordercancell' order.id %}" class="btn btn-secondary mb-0 btn-lg" style="color: white;">Cancel</a>
                    {% elif order.status == "Deliverd" %}
                    <a href="{% url 'return_order' order.id %}" class="btn btn-secondary mb-0" style="color: white;">Return</a>
                    {% elif order.status == "cancelled" %}
                    <h5 style="color: rgb(247, 0, 0);">Order cancelled</h5>
                    {% elif order.status == "Return Requested waiting for approval" %}
                    <h5 style="color: black;">Return Requested waiting for approval</h5>
                    {% elif order.status == "Return Aproved" %}
                    <h5 style="color: black;">Return Request Aproved</h5>
                    {% endif %}
                    <div class="border-start h-100"></div>
                    {% comment %} <h5 class="fw-normal mb-0"><a href="#!">Pre-pay</a></h5> {% endcomment %}
                    <div class="border-start h-100"></div>
                    <h5 class="fw-normal mb-0"><a href="#!" class="text-muted"><i class="fas fa-ellipsis-v"></i></a>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      

      <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>






  <div class="hero-wrap hero-bread" >
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-0 bread"></h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html"></a></span> <span></span></p>
        </div>
      </div>
    </div>
  </div>



















   

  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/jquery-migrate-3.0.1.min.js" %}"></script>
  <script src="{% static "js/popper.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/jquery.easing.1.3.js" %}"></script>
  <script src="{% static "js/jquery.waypoints.min.js" %}"></script>
  <script src="{% static "js/jquery.stellar.min.js" %}"></script>
  <script src="{% static "js/owl.carousel.min.js" %}"></script>
  <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
  <script src="{% static "js/aos.js" %}"></script>
  <script src="{% static "js/jquery.animateNumber.min.js" %}"></script>
  <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
  <script src="{% static "js/scrollax.min.js" %}"></script>


    {% endblock %}
