

{% extends 'shop.html' %}

{% load static %}
{% block content %}

    
<div class="hero-wrap hero-bread" style="background-image: url();">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-0 bread">Account Settings</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="{% url "home" %}">Home</a></span> </p>
        </div>
      </div>
    </div>
  </div>
      

  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">

  <div class="mt-5">
    <div class="alert alert-success">
            password was changed successfully
           
    </div>
    <div class="mt-5 text-center">
        <a href="{% url 'home' %}">Back to home</a>
    </div>
  </div>
</div>
</div>

  

{% endblock %}
