

	{% extends 'shop.html' %}

	{% load static %}
	{% block content %}

	{% if messages %}
	{% for message in messages %}
    
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
        var m = "{{ message }}";
        Swal.fire({
			icon: 'success',
			title: m,
			
			
		  })
      </script>
    
  {% endfor %}
 {% endif %}

  <main class="main-content site-wrapper-reveal">
    <!--== Start Page Title Area ==-->
    <div class="page-title-area page-title-area2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content content-style-2">
              <div class="bread-crumbs"><a href="index.html">Home<span class="breadcrumb-sep">></span></a><a href="index.html">Uncategorized<span class="breadcrumb-sep">></span></a><span class="active">Product Simple</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Page Title Area ==-->

    <!--== Start Shop Area ==-->
    <section class="product-area shop-single-product">
      <div class="container">
        {% for i in obj %}
        <div class="row">
          <div class="col-lg-6">
            <div class="single-product-slider">
              

              <div class="product-dec-slider-right">
                <div class="single-product-thumb">
                    
                  <div class="single-product-thumb-slider">
                    <!-- class="zoom zoom-hover" -->
                    <div >
                      <div class="thumb-item">
                        <a class="lightbox-image" data-fancybox="gallery" href="/media/{{i.product_img1}}">
                          <img src="/media/{{i.product_img1}}" alt="Image-HasTech">
                        </a>
                      </div>
                    </div>
                    <div >
                      <div class="thumb-item">
                        <a class="lightbox-image" data-fancybox="gallery" href="/media/{{i.product_img2}}">
                          <img src="/media/{{i.product_img2}}" alt="Image-HasTech">
                        </a>
                      </div>
                    </div>
                    <div >
                      <div class="thumb-item">
                        <a class="lightbox-image" data-fancybox="gallery" href="/media/{{i.product_img3}}">
                          <img src="/media/{{i.product_img3}}" alt="Image-HasTech">
                        </a>
                      </div>
                    </div>
                    <div >
                      <div class="thumb-item">
                        <a class="lightbox-image" data-fancybox="gallery" href="/media/{{i.product_img4}}">
                          <img src="/media/{{i.product_img4}}" alt="Image-HasTech">
                        </a>
                      </div>
                    </div>


                  </div>
                  <div class="product-gallery-actions">
                    <a class="lightbox-image" data-fancybox="gallery" href="/media/{{i.product_img1}}">
                      <i class="lastudioicon-full-screen"></i>
                    </a>
                  </div>
                  
                </div>
              </div>
              

              <div class="product-dec-slider-left">
                <div class="single-product-nav">
                  <div class="single-product-nav-slider">

                    <div class="nav-item">
                      <img src="/media/{{i.product_img1}}" alt="Image-HasTech">
                    </div>
                    <div class="nav-item">
                      <img src="/media/{{i.product_img2}}" alt="Image-HasTech">
                    </div>
                    <div class="nav-item">
                      <img src="/media/{{i.product_img3}}" alt="Image-HasTech">
                    </div>
                    <div class="nav-item">
                      <img src="/media/{{i.product_img4}}" alt="Image-HasTech">
                    </div>
                    
                  </div>
                </div>
              </div>


            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-product-info">
              <h4 class="title">{{i.product_name}}</h4>
              <h6 >{{i.brand}}</h6>
              <div class="product-rating">
                <div class="ratting-icons">
                  <i class="lastudioicon-star-rate-1"></i>
                  <i class="lastudioicon-star-rate-1"></i>
                  <i class="lastudioicon-star-rate-1"></i>
                  <i class="lastudioicon-star-rate-1"></i>
                  <i class="lastudioicon-star-rate-1"></i>
                </div>
                <div class="review">
                  <a href="#/">(1 customer review)</a>
                  
                  <p><span></span>{{i.quantity}} in stock</p>
                </div>
              </div>
              <div class="prices">
                {% if i.offer_price is not None and i.offer is not 0 or i.category_offer is not None and i.category.discount is not 0 %}
				
                <span style="text-decoration: line-through;" class="mr-2 price-dc">₹ {{i.original_price}}</span>
    				<p class="price" ><span class="v_price">₹ {{i.offer_price}}</span></p>
					
							{% if i.offer is not None and i.offer is not 0 %}
							<h4 style="color: green;">{{i.offer}}% -Off</h4>
							{% elif i.category_offer is not None and i.category_offer is not 0 %}
							<h4 style="color: green;">{{i.category_offer}}% -Off</h4>
							{% endif %}

					{% else %}
    				<p class="price"><span class="v_price">₹ {{i.selling_price}}</span></p>
					{% endif %}
              </div>
              <p class="product-desc">{{i.description}}</p>

             



              {% if var is not None %}
							
							<div class="col">
								<div class="form-group d-flex">
		              <div class="select-wrap">
	                  <select name="" id="v_color" class="form-control">
	                  	<option value="">Color</option>
						{% for i in var %}
						<option value="{{i.color}}">{{i.color}}</option>
							
						{% endfor %}
	                   
	                  </select>
	                </div>
		            </div>
							</div>
							<div class="col">
								<div class="form-group d-flex">
		              <div class="select-wrap">
	                  <select name="" id="v_size" class="form-control">
	                  	<option value="">Size</option>
						  {% for i in var2 %}
						  <option value="{{i.size}}">{{i.size}}</option>
							  
						  {% endfor %}
	                    
	                  </select>
	                </div>
		            </div>
							</div>
							{% endif %}



              {% if i.quantity < 10 and i.quantity > 0 %}
              <div class="input-group col-md-6 d-flex mt-4">
              <span style=" color: rgb(255, 0, 0);">Only {{i.quantity}} Left !!</span>
              </div>
              {% endif %}
              <div class="quick-product-action">
                <div class="action-top">
                  <!-- <div class="pro-qty-area">
                    <div class="pro-qty">
                      <input type="text" id="quantity1" title="Quantity" value="1" />
                    </div>
                  </div> -->
			            {% if i.quantity <= 0 %}
                  <p class="bottom-area d-flex"><a ><span style="font-size: 25px; color: red;">Out of Stock !</span></a></p>
                  {% else %}
                  <div id="cartdiv">
                  <a class="btn-theme btn-black" onclick= addcat({{i.id}}) style="color: white;"  id="addcart" >Add to cart</a>
                </div>  
                  {% endif %}
                </div>
                <div class="action-bottom">
                  <a class="btn-wishlist" onclick=addWish({{i.id}}) ><i class="labtn-icon labtn-icon-wishlist"></i>Add to wishlist</a>
                  <!-- <a class="btn-compare" href="shop-compare.html"><i class="labtn-icon labtn-icon-compare"></i>Add to compare</a> -->
                </div>
              </div>
              <div class="product-ratting">
                <div class="product-sku">
                  SKU: <span>REF. LA-276</span>
                </div>
              </div>
              <div class="product-categorys">
                <div class="product-category">
                  Category: <span>{{i.category.category_name}}</span>
                </div>
              </div>
              <div class="widget">
                <h3 class="title">Tags:</h3>
                <div class="widget-tags">
                  <ul>
                    <li><a href="shop.html">Blazer,</a></li>
                    <li><a href="shop.html">Fashion,</a></li>
                    <li><a href="shop.html">wordpress,</a></li>
                  </ul>
                </div>
              </div>
              <div class="product-social-info">
                <a href="#"><span class="lastudioicon-b-facebook"></span></a>
                <a href="#"><span class="lastudioicon-b-twitter"></span></a>
                <a href="#"><span class="lastudioicon-b-linkedin"></span></a>
                <a href="#"><span class="lastudioicon-b-pinterest"></span></a>
              </div>
              <div class="product-nextprev">
                <a href="shop-single-product.html">
                  <i class="lastudioicon-arrow-left"></i>
                </a>
                <a href="shop-single-product.html">
                  <i class="lastudioicon-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
    </section>
    <!--== End Shop Area ==-->

    <!--== Start Shop Tab Area ==-->
    <section class="product-area product-description-review-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="product-description-review">
              <ul class="nav nav-tabs product-description-tab-menu" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="product-desc-tab" data-bs-toggle="tab" data-bs-target="#productDesc" type="button" role="tab" aria-controls="productDesc" aria-selected="true">Description</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="product-review-tab" data-bs-toggle="tab" data-bs-target="#productReview" type="button" role="tab" aria-controls="productReview" aria-selected="false">Reviews (1)</button>
                </li>
              </ul>
              <div class="tab-content product-description-tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="productDesc" role="tabpanel" aria-labelledby="product-desc-tab">
                  <div class="product-desc">
                    <div class="product-desc-row">
                      <div class="product-thumb">
                        <img src="assets/img/shop/93.jpg" alt="Moren-Shop">
                      </div>
                      <div class="product-content">
                        <h4>Made with love</h4>
                        <p>Donec accumsan auctor iaculis. Sed suscipit arcu ligula, at egestas magna molestie a. Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque. Vestibulum ut sem laoreet, feugiat tellus at.</p>
                        <p>Duis efficitur gravida tincidunt. Nam sodales vel odio at sollicitudin. Vestibulum sed rutrum nisl. Nulla diam arcu, facilisis nec blandit non, interdum et orci. Nam aliquam lorem vitae risus molestie convallis.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="productReview" role="tabpanel" aria-labelledby="product-review-tab">
                  <div class="product-review">
                    <div class="product-review-comments">
                      <h4 class="title">1 review for <span>Product Simple</span></h4>
                      <div class="comment-item">
                        <div class="thumb">
                          <img src="assets/img/icons/s1.jpg" alt="Moren-Shop">
                        </div>
                        <div class="content">
                          <div class="rating">
                            <span class="lastudioicon-star-rate-1"></span>
                            <span class="lastudioicon-star-rate-1"></span>
                            <span class="lastudioicon-star-rate-1"></span>
                            <span class="lastudioicon-star-rate-1"></span>
                            <span class="lastudioicon-star-rate-1"></span>
                          </div>
                          <h5 class="meta"><span>Agnes Wilson </span> – December 24, 2020</h5>
                          <span class="review">There are no reviews yet.</span>
                        </div>
                      </div>
                    </div>
                    <div class="product-review-form">
                      <h3 class="title">Add a review</h3>
                      <div class="rating">
                        <span class="rating-title">Your rating *</span>
                        <span class="lastudioicon-star-rate-2"></span>
                        <span class="lastudioicon-star-rate-2"></span>
                        <span class="lastudioicon-star-rate-2"></span>
                        <span class="lastudioicon-star-rate-2"></span>
                        <span class="lastudioicon-star-rate-2"></span>
                      </div>
                      <form action="#" method="post">
                        <div class="review-form-content">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="reviewFormTextarea">Your review *</label>
                                <textarea class="form-control" id="reviewFormTextarea" name="comment" rows="7" required></textarea>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <button class="btn btn-theme btn-black" type="submit">Submit</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Shop Tab Area ==-->

    <!--== Start Products Area Wrapper ==-->
    <section class="product-area related-products-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 m-auto">
            <div class="section-title text-center">
              <h2 class="title">Related Products</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="swiper-container product4-slider-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <!-- Start Product Item -->
                  <div class="product-item">
                    <div class="product-thumb">
                      <a href="shop-single-product.html">
                        <img src="assets/img/shop/9.jpg" alt="Moren-Shop">
                        <span class="thumb-overlay"></span>
                      </a>
                      <div class="product-action action-style3">
                        <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                          <i class="lastudioicon-shopping-cart-3"></i>
                        </a>
                        <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                          <i class="lastudioicon-search-zoom-in"></i>
                        </a>
                        <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                          <i class="lastudioicon-heart-2"></i>
                        </a>
                        <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                          <i class="lastudioicon-compare"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-info info-style3">
                      <div class="content-inner">                  
                        <h4 class="title"><a href="shop-single-product.html">Printed surplice blouse</a></h4>
                        <div class="prices">
                          <span class="price">£17.90</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Product Item -->
                </div>
                <div class="swiper-slide">
                  <!-- Start Product Item -->
                  <div class="product-item">
                    <div class="product-thumb">
                      <a href="shop-single-product.html">
                        <img src="assets/img/shop/83.jpg" alt="Moren-Shop">
                        <span class="bg-thumb" data-bg-img="assets/img/shop/84.jpg" style="background-image: url(&quot;assets/img/shop/d2-2.jpg&quot;);"></span>
                        <span class="thumb-overlay"></span>
                      </a>
                      <div class="product-action action-style3">
                        <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                          <i class="lastudioicon-shopping-cart-3"></i>
                        </a>
                        <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                          <i class="lastudioicon-search-zoom-in"></i>
                        </a>
                        <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                          <i class="lastudioicon-heart-2"></i>
                        </a>
                        <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                          <i class="lastudioicon-compare"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-info info-style3">
                      <div class="content-inner">                  
                        <h4 class="title"><a href="shop-single-product.html">Double Breasted Blazer</a></h4>
                        <div class="prices">
                          <span class="price">£39.90</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Product Item -->
                </div>
                <div class="swiper-slide">
                  <!-- Start Product Item -->
                  <div class="product-item">
                    <div class="product-thumb">
                      <a href="shop-single-product.html">
                        <img src="assets/img/shop/80.jpg" alt="Moren-Shop">
                        <span class="bg-thumb" data-bg-img="assets/img/shop/81.jpg" style="background-image: url(&quot;assets/img/shop/d2-2.jpg&quot;);"></span>
                        <span class="thumb-overlay"></span>
                      </a>
                      <div class="product-action action-style3">
                        <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                          <i class="lastudioicon-shopping-cart-3"></i>
                        </a>
                        <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                          <i class="lastudioicon-search-zoom-in"></i>
                        </a>
                        <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                          <i class="lastudioicon-heart-2"></i>
                        </a>
                        <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                          <i class="lastudioicon-compare"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-info info-style3">
                      <div class="content-inner">                  
                        <h4 class="title"><a href="shop-single-product.html">Product Variable</a></h4>
                        <div class="prices">
                          <span class="price">£39.90</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Product Item -->
                </div>
                <div class="swiper-slide">
                  <!-- Start Product Item -->
                  <div class="product-item">
                    <div class="product-thumb">
                      <a href="shop-single-product.html">
                        <img src="assets/img/shop/3.jpg" alt="Moren-Shop">
                        <span class="thumb-overlay"></span>
                      </a>
                      <div class="product-action action-style3">
                        <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                          <i class="lastudioicon-shopping-cart-3"></i>
                        </a>
                        <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                          <i class="lastudioicon-search-zoom-in"></i>
                        </a>
                        <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                          <i class="lastudioicon-heart-2"></i>
                        </a>
                        <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                          <i class="lastudioicon-compare"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-info info-style3">
                      <div class="content-inner">                  
                        <h4 class="title"><a href="shop-single-product.html">Short lilac ruffled dress</a></h4>
                        <div class="prices">
                          <span class="price">£29.90</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Product Item -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Products Area Wrapper ==-->
  </main>

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area default-style">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="widget-item widget-column1">
              <h4>Subscribe to receive Moren News</h4>
              <div class="newsletter-content-wrap">
                <form class="newsletter-form" action="#">
                  <input class="form-control" type="text" id="email" placeholder="Email">
                  <button class="btn btn-theme btn-black" type="submit">Sign Up</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget-item widget-column2">
              <h4>Help</h4>
              <nav class="widget-menu-wrap menu-col-2">
                <ul class="nav-menu nav">
                  <li><a href="index.html">Payments</a></li>
                  <li><a href="index.html">Shipping</a></li>
                  <li><a href="index.html">Returns/Exchange</a></li>
                </ul>
                <ul class="nav-menu nav ">
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="index.html">Store Locator</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-md-3">
            <div class="widget-item widget-column3">
              <h4>Explore</h4>
              <nav class="widget-menu-wrap">
                <ul class="nav-menu nav">
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="blog.html">Get the look</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="widget-item">
              <div class="widget-social-icons">
                <a href="#/"><i class="lastudioicon lastudioicon-b-facebook"></i></a> 
                <a href="#/"><i class="lastudioicon lastudioicon-b-pinterest"></i></a> 
                <a href="#/"><i class="lastudioicon lastudioicon-b-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--== End Footer Area Wrapper ==-->
  
  <!--== Scroll Top Button ==-->
  <div class="scroll-to-top"><span class="fa fa-angle-double-up"></span></div>

  <!--== Start Product Quick View ==-->
  <aside class="product-quick-view-modal">
    <div class="product-quick-view-inner">
      <div class="product-quick-view-content">
        <button type="button" class="btn-close">
          <span class="close-icon"><i class="lastudioicon-e-remove"></i></span>
        </button>
        <div class="row row-gutter-0">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="thumb">
              <img src="assets/img/shop/quick-view1.jpg" alt="Moren-Shop">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <div class="single-product-info">
              <h4 class="title">Product Simple</h4>
              <div class="product-rating">
                <div class="review">
                  <p><span></span>99 in stock</p>
                </div>
              </div>
              <div class="prices">
                <span class="price">£49.90</span>
              </div>
              <p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fringilla quis ipsum enim viverra. Enim in morbi tincidunt ante luctus tincidunt integer. Sed adipiscing vehicula.</p>
              <div class="quick-product-action">
                <div class="action-top">
                  <div class="pro-qty-area">
                    <div class="pro-qty">
                      <input type="text" id="quantity" title="Quantity" value="1">
                    <a href="#" class="inc qty-btn">+</a><a href="#" class="dec qty-btn">-</a></div>
                  </div>
                  <a class="btn-theme btn-black" href="shop-cart.html">Add to cart</a>
                </div>
                <div class="action-bottom">
                  <a class="btn-wishlist" href="shop-wishlist.html"><i class="labtn-icon labtn-icon-wishlist"></i>Add to wishlist</a>
                  <a class="btn-compare" href="shop-compare.html"><i class="labtn-icon labtn-icon-compare"></i>Add to compare</a>
                </div>
              </div>
              <div class="product-ratting">
                <div class="product-sku">
                  SKU: <span>REF. LA-276</span>
                </div>
              </div>
              <div class="product-categorys">
                <div class="product-category">
                  Category: <span>Uncategorized</span>
                </div>
              </div>
              <div class="widget">
                <h3 class="title">Tags:</h3>
                <div class="widget-tags">
                  <ul>
                    <li><a href="shop.html">Blazer,</a></li>
                    <li><a href="shop.html">Fashion,</a></li>
                    <li><a href="shop.html">wordpress,</a></li>
                  </ul>
                </div>
              </div>
              <div class="product-social-info">
                <a href="#"><span class="lastudioicon-b-facebook"></span></a>
                <a href="#"><span class="lastudioicon-b-twitter"></span></a>
                <a href="#"><span class="lastudioicon-b-linkedin"></span></a>
                <a href="#"><span class="lastudioicon-b-pinterest"></span></a>
              </div>
              <div class="product-nextprev">
                <a href="shop-single-product.html">
                  <i class="lastudioicon-arrow-left"></i>
                </a>
                <a href="shop-single-product.html">
                  <i class="lastudioicon-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="canvas-overlay"></div>
  </aside>
  <!--== End Product Quick View ==-->

  <!--== Start Aside Search Menu ==-->
  <div class="search-box-wrapper">
    <div class="search-box-content-inner">
      <div class="search-box-form-wrap">
        <div class="search-note">
          <p>Start typing and press Enter to search</p>
        </div>
        <form action="#" method="post">
          <div class="search-form position-relative">
            <label for="search-input" class="sr-only">Search</label>
            <input type="search" class="form-control" placeholder="Search" id="search-input">
            <button class="search-button"><i class="lastudioicon-zoom-1"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!--== End Aside Search Menu ==-->
    <a href="javascript:;" class="search-close"><i class="lastudioicon-e-remove"></i></a>
  </div>
  <!--== End Aside Search Menu ==-->


  <!--== Start Side Menu ==-->
  <aside class="off-canvas-wrapper">
    <div class="off-canvas-inner">
      <div class="off-canvas-overlay d-none"></div>
      <!-- Start Off Canvas Content Wrapper -->
      <div class="off-canvas-content">
        <!-- Off Canvas Header -->
        <div class="off-canvas-header">
          <div class="close-action">
            <button class="btn-close"><i class="icofont-close-line"></i></button>
          </div>
        </div>

        <div class="off-canvas-item">
          <!-- Start Mobile Menu Wrapper -->
          <div class="res-mobile-menu">
            <!-- Note Content Auto Generate By Jquery From Main Menu -->
          </div>
          <!-- End Mobile Menu Wrapper -->
        </div>
        <!-- Off Canvas Footer -->
        <div class="off-canvas-footer"></div>
      </div>
      <!-- End Off Canvas Content Wrapper -->
    </div>
  </aside>
  <!--== End Side Menu ==-->
</div>
<script>

  function addWish(id){
      
    
      var url = "{% url 'add_to_wishlist' %}"
      $.ajax({
        type:"GET",
        url : url,
        data : {"id" : id},
        success : function(r) {
  
        Swal.fire(
          'Product Added To Wishlist!',
          '!',
          'success'
        )
          
        },
        error: function() {
        Swal.fire('Product Already Added')
        }
      });
    }
  
  
function addcat(id){
color = $("#v_color").val()
size  = $("#v_size").val()

if (color !='' && size !=''){
  console.log("true")
}
else{
  color = 0
  size = 0
}
  $.ajax({
    type:"GET",
    url : "{% url 'add_cart' %}",
    data : {"id" : id ,"color":color,"size":size},
    success : function(r) {
      
      if (r.status==true){

        Swal.fire('Product already added ','!',
        'success')
      
      }
      else{

        Swal.fire(
        'Product Added To Cart!',
        '!',
        'success'
      )
      }
    },
    error: function() {
      Swal.fire('error occured during ')
    }
});
}
  $("#v_color").change(function (){
    console.log("<<<<<<<")
    color = $("#v_color").val()
    size  = $("#v_size").val()
    $.ajax({
      type:"GET",
      url : "{% url 'check_variation' %}",
      data : {"color" : color,"size":size},
      success : function(r) {
        
        if (r.status==true){
        $("#cartdiv").show();
        $("#v_error").text("");
        $(".v_price").text("₹"+ r.price);
        alertify.set('notifier','position', 'top-right');
                alertify.success('Available.!');

      
        }
        else{
        $("#cartdiv").hide();
        $("#v_error").text("Selected variation not available.!");
        alertify.set('notifier','position', 'top-right');
                alertify.error('Not Available.!');
        }
      }
    });

  });
  $("#v_size").change(function (){
    console.log("<<<<<<<")
    color = $("#v_color").val()
    size  = $("#v_size").val()
    id = {{id}}
    $.ajax({
      type:"GET",
      url : "{% url 'check_variation' %}",
      data : {"color" : color,"size":size,"id":id},
      success : function(r) {
        
        if (r.status==true){
        $("#cartdiv").show();
        $("#v_error").text("");
        $(".v_price").text("₹"+ r.price);
        alertify.set('notifier','position', 'top-right');
                alertify.success('Available.!');


    
        
        }
        else{
        $("#cartdiv").hide();
        $("#v_error").text("Selected variation not available.!");
        alertify.set('notifier','position', 'top-right');
                alertify.error('Not Available.!');
        
      
        }
      },
      error: function() {
        Swal.fire('error occured during ')
      }
    });

  });


  
  
  </script>
{% endblock %}

